<ul id="page-nav-items">
	<li><a {{action revertPage}}>Revert</a></li>
	<li><a {{action downloadPage}}>Download</a></li>
	<li><a {{action savePage}} {{bind-attr class="model.isDirty:highlighted"}}>Save</a></li>
	<li class="exit-editor-item"><a {{action exitEditor}}>Exit</a></li>
</ul>