<section id="editor">
	<section id="editor-components">
		<div id="components-cateory">
			{{view Ember.Select content=categories
       			optionValuePath="content.id"
       			optionLabelPath="content.name"
       			selection=selectedCategory}}
		</div>
		<div id="components">
			{{#each card in cardModels}}
				{{view 'card-container' card=card}}
			{{/each}}
		</div>
	</section>
	<section id="editor-canvas">
		<section id="simulator" {{bindAttr class=":selectable pageSelected:selected"}} {{action selectPage}}>
			<header>
				<h3>{{title_top}}</h3>
			</header>
		</section>
	</section>
	<section id="editor-inspector">
		<div id="inspector-configs">
			{{#each config in selectedItem.configurables}}
				<div class="inspector-config">
					<h4>{{config.name}}</h4>
					{{view 'config-container' config=config targetModel=this}}
				</div>
			{{/each}}
		</div>
	</section>
</section>